<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>数据查询2</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-3.1.0.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/admin/js/index.js" ></script>
	</head>
	<body>
		<div class="header">
			<img src="img/logo.png"/>
			<span>双维科技信息管理平台</span>
		</div>
		<div class="content content3 clearfix">
			<div class="con_left">
				<ul>
					<li>
						<a href="{:U('Equipment/index');}">
							<img src="__PUBLIC__/admin/img/device2.png"/>
							<span>设备列表</span>
						</a>
					</li>
					<li>
						<a href="map.html">
							<img src="__PUBLIC__/admin/img/position1.png"/>
							<span>地图地理</span>
						</a>
					</li>
					<li class="actives">
						<a href="{:U('Cycle/index')}">
							<img src="__PUBLIC__/admin/img/date1.png"/>
							<span>数据展示</span>
						</a>
					</li>
					<li>
						<a href="manage.html">
							<img src="__PUBLIC__/admin/img/set1.png"/>
							<span>系统管理</span>
						</a>
					</li>
				</ul>
				<img src="__PUBLIC__/admin/img/quit.png" class="quit"/>
			</div>
			<div class="con_middle date_search_t">
				<div class="titles">
					<ul class="clearfix">
						<!-- <li>
							<a href="#" class="actives">重新查询</a>
						</li> -->
						<li>
							<a class="actives" href="#">另存为Excel</a>
						</li>
						<li>
							<a class="actives" href="#">切换至曲线</a>
						</li>
					</ul>
				</div>

				<div>
					<div class="one">
						<table border="none" cellspacing="" cellpadding="" class="table">

							<tr>
								<th>设备编码</th>
								<foreach item="vo" name="arrayshift">
									<th>{$key}</th>
								</foreach>
							</tr>
							<tr>
								<th>自定义信息</th>
								<foreach item="vo" name="data">
									<th>{$vo[$key]}</th>
								</foreach>
							</tr>

							<foreach item="vo" name="data">
								<tr>
									<td>{$key}</td>
									<volist name="vo" id="f">

										<td>{$vo[$key]['concentration']} >> {$vo[$key]['temperature']} >> {$vo[$key]['humidity']}</td>
									</volist>


								</tr>
							</foreach>




						</table>
						<div class="page">
							<ul class="clearfix">
								<li>{$page}</li>

							</ul>
						</div>
					</div>
					<div class="one two">
						<img src="__PUBLIC__/admin/img/line_chart.png"/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
